@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --darkBlue: #274472;
  --midnightBlue: #41729F;
  --blueGray: #5885AF;
  --babyBlue: #C3E0E5;
  --lightGreen: #00FF00;
}

/*default font size is 1.3rem for extra small screens (phones)*/
body {
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: var(--midnightBlue) !important;
  color: white !important;
  font-size: 1.25rem !important;
}

.section-heading {
  border-bottom: 0.2rem solid var(--lightGreen);
}

/*when screen gets is greater than size (sm)all = 768 px increase the font size*/
@media (min-width: 768px) {
  body {
    font-size: 1.55rem !important;
  }
}

/*
.main-body-info {
  padding-left: 6rem;
  padding-right: 6rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
