.contact-wrapper {
    position: relative;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--darkBlue);
    opacity: .85;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-note {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
}

.footer-note a {
    color: white;
    text-decoration: none;
}

.footer-note a:hover {
    color: var(--lightGreen);
    text-decoration: underline;
}

.social-media-list a{
    color: white;
}

.social-media-list a:hover {
    border-bottom: 0.2rem solid var(--lightGreen);
    color: var(--lightGreen);
}

.footer .logo {
    border-bottom: 0.2rem solid var(--darkBlue);
  }
  
.footer .logo:hover {
    border-bottom: 0.2rem solid var(--lightGreen);
}